<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true" testdox="true">
    <testsuite name="Demo">
        <directory>./tests/demo</directory>
    </testsuite>
    <testsuite name="CornerCases">
        <directory>./tests/corner</directory>
    </testsuite>
</phpunit>